body {
  background-color: #F4F7FC;
  margin:0px;
}
  a
  {
    color:black;
    text-decoration:none;
  }

  #top_bar .logoandtext
  {
    float: left;
    position: absolute;
  }

  #top_bar .user_profile
  {
    float: right;
  }

  .logoandtext img
  {
    float: left;
    padding-top: 8px;
    margin-left: 20px;
    width: 41px;
    height: 41px;
  }

  .logoandtext h1
  {
    float: left;
  }


  .user_profile .img1
  {
    float: right;
  }

  .user_profile .text
  {
    float: right;
    font-size: 16px;
    margin-top: 18px;
  }

  .user_profile .img2
  {
    float: right;
    margin-top: 15px;
  }


  h1
  {
    font-size: 26px;
    text-align: left;
    margin-left: 0px;
    margin-top: 15px;
    padding:0px;
  }
  ol{
    background-color: #ffff;
    width: 240;
    margin:0px;
    padding-left: 10px;
    padding-top: 20px;
    list-style:none;
  }
  #grid
  {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
  #top_bar
  {
  position: relative;
  display: grid;
  grid-template-columns: 100%
  filter: blur(10px);
  box-shadow: 0 1px 4px 0 rgba(21, 34, 50, 0.08);
  background-color: #ffff;
  }
  #grid #index_text_box
  {
  width: 250px;
  background-color: #Ffff;
  }
  #grid #index_text
  {
  padding-left: 22px;
  font-size:20px;
  }
  #grid #article
  {
    padding-left: 25px;
  }
    }
